@import "_nullstyle";
body {
	font: 400 16px "Helios", sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
	height: 100%;
}

.container {
	max-width: 1630px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background-color: rgb(10, 10, 10);
	min-height: 80px;
	padding: 8px 15px;
	position: relative;

	&__body {
		display: flex;
		//justify-content: space-between;
		align-items: center;
		&:nth-last-child(1) {
			justify-self: end;
			color: #000;
		}
	}

	&__logo {
		margin-right: 20px;
		width: 60px;
		min-height: 80px;
		position: relative;
		img {
			position: absolute;
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}

	&__text-block {
		color: #fff;
	}

	&__title {
		font-size: 48px;
	}

	&__subtitle {
		font-size: 20px;
	}
	&__lang {
	}
}
.logo {
}
.lang {
	width: 100%;
	justify-content: flex-end;
	display: flex;

	&__ru,
	&__eng {
		margin-left: 15px;
		font-size: 30px;
		span {
			color: #fff;
			&:hover {
				color: rgb(233, 220, 36);
			}
			&:active {
				color: rgb(242, 242, 242);
			}
		}
	}
	&__ru {
		position: relative;
	}
	&__ru::after {
		position: absolute;
		top: -15px;
		right: -8px;
		content: "";
		display: block;
		width: 1px;
		height: 60px;
		background-color: #fff;
	}
}

.main {
	padding: 50px 5px;
}
.main-body {
	display: flex;
	justify-content: space-between;
}
.menu {
	max-width: 320px;
	padding: 30px 6px;
	margin-left: 18px;
	&__item {
		margin-bottom: 16px;
		font-size: 28px;
		span {
			color: #000;
			&:hover {
				color: rgb(72, 70, 70);
			}
			&:active {
				color: rgb(0, 0, 0);
			}
		}
	}
}
.text-block {
	margin-left: 50px;
}
.text {
	&__title {
		font-size: 70px;
		font-weight: 600;
		margin-bottom: 18px;

		font: 800 25px/1 "Merriweather";
	}
	&__image {
		width: 100%;
		height: 690px;
		position: relative;
		margin-bottom: 20px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		font-size: 24px;
		margin-bottom: 40px;
	}

	&__list {
		font-size: 24px;
		list-style: square;
		li {
			margin-top: 8px;
		}
	}
}

/*
.text {
	&__table {
		display: grid;
		grid-template-columns: 300px auto;
		font-size: 20px;
		border: 1px solid #000;
	}
}
.table-item {
	border: 1px solid #000;
	padding: 10px 6px;
}
.exp-table {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.name {
}
.exp {
}
.exp1 {
	grid-column: 2/3;
}
.exp2 {
}
.exp3 {
}
.exp4 {
}
.exp5 {
}
.exp6 {
}
.exp7 {
}
.exp8 {
}
.exp9 {
}
.exp10 {
}
.exp11 {
}
.exp12 {
}
.exp13 {
}
.exp14 {
}

*/
.menu-title {
	font-size: 40px;
	margin-left: 0;
	flex: 1 0 auto;
}
.burger {
	display: none;
}

.burger {
	z-index: 100;
	margin: 2px 0 0 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	min-width: 45px;
	height: 45px;
	background-color: #f8f8f8;
	text-align: center;
	border-radius: 50%;
	span {
		transition: 0.4s;
		display: inline-block;
		width: 30px;
		height: 3px;
		background-color: rgb(0, 0, 0);
		margin: 21px 0 0 0;
	}
	&:before,
	&:after {
		transition: 0.4s;
		content: "";
		display: inline-block;
		width: 30px;
		height: 3px;
		background-color: rgb(9, 9, 9);
		position: absolute;
		right: 7px;
	}
	&:before {
		top: 13px;
	}
	&:after {
		bottom: 13px;
	}
}
.burger.active {
	z-index: 100;
	background-color: #fff;
	& span {
		transition: 0.4s;
		opacity: 0;
	}
	&:before,
	&:after {
		transition: 0.4s;
		background-color: #000000;
	}
	&:before {
		transform: rotate(45deg);
		top: 21px;
	}
	&:after {
		transform: rotate(-45deg);
		bottom: 21px;
	}
}

.burger {
	display: none;
}

@media (max-width: 1000px) {
	.header {
		min-width: 750px;
	}
	.content {
		display: block;
	}

	.burger {
		display: block;
		top: 10px;
		right: 10px;
	}
	.lang {
		margin-right: 100px;
	}
	.logo {
		max-width: 100px;
	}
	.menu-title {
		color: #fff;
	}
	body.active {
		//overflow: hidden;
	}
	.sidebar {
		overflow: auto;
		padding-top: 90px;
		z-index: 98;
		top: 130px;
		left: 20px;
		display: none;
		position: absolute;
		//background-color: rgba(0, 0, 0, 0.611);
		height: 500px;
		border: 3px solid #000;
		padding-bottom: -20px;

		.sidebar-item {
			&__title {
				font-size: 30px;
			}
			background-color: #20b777;
			color: #fff;
			a {
				color: #fff;
				font-size: 7vw;
			}
			li::before {
				background-color: #fff;
			}
		}

		&__item {
			span {
				color: #fff;
			}
		}
	}
	.sidebar.active {
		display: block;
	}
}
@media (max-width: 500px) {
	.text {
		&__title {
			font-size: 16vw;
		}
	}
	.sidebar-item {
		min-height: 100vh;
		background-color: #20b777;
		color: #fff;
		a {
			color: #fff;
			font-size: 60px;
		}
		li::before {
			background-color: #fff;
		}
	}
}

.footer {
	min-height: 80px;
	background-color: #000;
	color: #fff;
	padding: 20px 15px;
	min-width: 100vw;
	&__body {
		display: flex;
	}

	&__left {
		width: 100%;
	}

	&__copyright {
		margin-bottom: 20px;
		text-align: center;
	}

	&__links {
		text-align: center;
		span {
			color: #fff;
			&:hover {
				color: rgb(233, 255, 34);
			}
			&:active {
				color: rgb(255, 255, 254);
			}
		}
		a {
			position: relative;
			margin-right: 12px;
			&:nth-last-child(1) {
				&::after {
					display: none;
				}
			}
			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 28px;
				position: absolute;
				right: -8px;
				top: -6px;
				background-color: #fff;
			}
		}
	}

	&__right {
	}
}
.container {
}
.links-footer {
	&__link {
	}
}
table,
th,
td {
	border: 1px solid black;
	padding: 10px 8px;
}

.content {
	flex-direction: row-reverse;
}
.content-body {
	padding-left: 30px;
}
.sidebar {
	margin-left: 10px;
}
@media (max-width: 1000px) {
	.footer {
		min-width: 750px;
	}
}
@media (max-width: 751px) {
	.sidebar {
		min-width: 690px;
	}
}
